.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.colors {
    width: 20%;
    height: 100px;
    border: 2px solid;
    border-color: brown;
}

#black {
    background-color: black;
}

#grey {
    background-color: grey;
}

#green {
    background-color: green;
}

#white {
    background-color: white;
}

#aqua {
    background-color: aqua;
}

h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}